/* main */
$phone-colour: black;
$app-dark-bg-colour: rgb(19, 19, 19);

/* notch */
$notch-feature-colour: rgb(31, 31, 31);

/*settings*/
$settings-sections: rgb(49, 49, 49);
$settings-info-color: rgb(124, 124, 124);
