/* colours */
@import "scss-documents/themes";

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: Poppins; 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone {
    margin: auto;
    border: 10px solid $phone-colour;
    border-radius: 40px;
    width: 360px;
    height: 700px;
    position: relative;
    box-shadow: 0px 20px 20px #33333333;

    &__screen {
        position: absolute;
        // z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        overflow: hidden;
        &--bg {
            background: url("images/background3.jpg");
            background-size: cover;
            background-position: center;
        }
        
        /* APPS */
        &__app {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 700px;
            transition: 0.4s;
            top: -1000px; //or 1px to bring back in.

            &--settings {
                background-color: $app-dark-bg-colour;
                display: flex;
                flex-direction: column;
                padding: 20px 15px;
                color: white;
        
                &--h1 {
                    font-weight: 600;
                    font-size: 2.5rem;
                    margin-top: 30px;
                }

                &--header {
                    max-width: 320px;
                    background-color: $settings-sections;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    border-radius: 5px;
                    padding: 5px;
                    gap: 10px;
                    cursor: pointer;
                    margin-top: 20px;

                    &--img {
                        width: 60px;
                        height: 60px;
                    }
                    &--para {
                        font-size: 1.4rem;
                        font-weight: 500;
                    }
                }

                &--vip {
                    margin-top: 20px;
                    max-width: 330px;
                    background-color: $settings-sections;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    border-radius: 5px;
                    margin-top: 40px;

                    &--arpl {
                        width: 100%;
                        // height: 50px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0px 5px;

                        &--box {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            &--img {
                                width: 25px;
                                height: 25px;
                                border-radius: 5px;
                            }
                            &--para {
                                font-size: 0.9rem;
                            }
                        }
                        &--info {
                            height: 40px;
                        }
                    }
                    &--wifi {
                        width: 100%;
                        // height: 50px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 5px 5px;
                        border-top: 0.1px solid $settings-info-color;
                        height: 40px;

                        &--box {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            &--img {
                                width: 25px;
                                height: 25px;
                                border-radius: 5px;
                            }
                            &--para {
                                font-size: 0.9rem;
                            }
                        }
                        &--info {
                            color: $settings-info-color;
                            padding-right: 5px;
                            font-size: 0.9rem;
                        }
                    }
                    &--blt {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 5px 5px;
                        border-top: 0.1px solid $settings-info-color;
                        height: 40px;

                        &--box {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            &--img {
                                width: 25px;
                                height: 25px;
                                border-radius: 5px;
                            }
                            &--para {
                                font-size: 0.9rem;
                            }
                        }
                        &--info {
                            color: $settings-info-color;
                            padding-right: 5px;
                        }
                    }
                    &--mob {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 5px 5px;
                        border-top: 0.1px solid $settings-info-color;
                        height: 40px;

                        &--box {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            &--img {
                                width: 25px;
                                height: 25px;
                                border-radius: 5px;
                            }
                            &--para {
                                font-size: 0.9rem;
                            }
                        }
                        &--info {
                            color: $settings-info-color;
                            padding-right: 5px;
                        }
                    }
                    &--htspt {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 5px 5px;
                        border-top: 0.1px solid $settings-info-color;
                        height: 40px;

                        &--box {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            &--img {
                                width: 25px;
                                height: 25px;
                                border-radius: 5px;
                            }
                            &--para {
                                font-size: 0.9rem;
                            }
                        }
                        &--info {
                            color: $settings-info-color;
                            padding-right: 5px;
                        }
                    }
                    &--vpn {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0px 5px;
                        border-top: 0.1px solid $settings-info-color;

                        &--box {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            &--img {
                                width: 25px;
                                height: 25px;
                                border-radius: 5px;
                            }
                            &--para {
                                font-size: 0.9rem;
                            }
                        }
                        &--info {
                            color: $settings-info-color;
                            height: 40px;
                        }
                    }
                }
            }

            &--camera {
                background-color: $app-dark-bg-colour;
                display: flex;
                flex-direction: column;

                &--header {
                    height: 100px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    &--flash {
                        margin: 35px 15px;
                        
                        &--icon {
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                        }
                    }
                }
                &--photo {
                    width: auto;
                    height: 470px;

                    &--img {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: url("images/camera/shiba.JPG");
                    }
                }
                &--footer {
                    height: 150px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 10px 10px;

                    &--album {
                        &--img {
                            height: 45px;
                            width: 45px;
                            border-radius: 10px;
                        }
                    }
                    &--btn {
                        background-color: aliceblue;
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        box-shadow: 1px 1px grey;
                        cursor: pointer;
                    }
                    &--swap {
                        background-color: rgb(55, 55, 55);
                        border-radius: 10px;
                        border: 1px solid gold;
                        cursor: pointer;

                        &--img {
                            height: 41px;
                            width: 50px; 
                            transform: scale(0.8,0.8);
                        }
                    }
                }
            }
        }

        &__icons {
            margin: 60px 20px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            row-gap: 60px;
            column-gap: 20px;
            align-content: center;

            &--card {
                margin: auto;
                width: 60px;
                height: 60px;
                background: white;
                border-radius: 15px;
                cursor: pointer;
                position: relative;
                color: white;
                font-size: 0.7rem;
                background-size: cover;
                background-position: center;

                &--settings {
                    background-image: url("images/settings.jpg");
                    &::after {
                        content: "Settings";
                        bottom: -20px;
                        left: 7px;
                        position: absolute;
                    }
                }
                &--camera {
                    background-image: url("images/camera.JPG");
                    &::after {
                        content: "Camera";
                        bottom: -20px;
                        left: 6px;
                        position: absolute;
                    }
                }
                &--calendar {
                    background-image: url("images/calendar.JPG");
                    &::after {
                        content: "Calendar";
                        bottom: -20px;
                        left: 4px;
                        position: absolute;
                    }
                }
                &--clock {
                    background-image: url("images/clock.jpg");
                    &::after {
                        content: "Clock";
                        bottom: -20px;
                        left: 14px;
                        position: absolute;
                    }
                }
                &--contacts {
                    background-image: url("images/contacts.JPG");
                    &::after {
                        content: "Contacts";
                        bottom: -20px;
                        left: 4px;
                        position: absolute;
                    }
                }
                &--discord {
                    background-image: url("images/discord.JPG");
                    &::after {
                        content: "Discord";
                        bottom: -20px;
                        left: 8px;
                        position: absolute;
                    }
                }
                &--google {
                    background-image: url("images/google.JPG");
                    &::after {
                        content: "Google";
                        bottom: -20px;
                        left: 9px;
                        position: absolute;
                    }
                }
                &--instagram {
                    background-image: url("images/instagram.JPG");
                    &::after {
                        content: "Instagram";
                        bottom: -20px;
                        left: 0px;
                        position: absolute;
                    }
                }
                &--messenger {
                    background-image: url("images/messenger.JPG");
                    &::after {
                        content: "Messenger";
                        bottom: -20px;
                        left: 0px;
                        position: absolute;
                    }
                }
                &--notes {
                    background-image: url("images/notes.JPG");
                    &::after {
                        content: "Notes";
                        color: white;
                        bottom: -20px;
                        left: 14px;
                        position: absolute;
                    }
                }
                &--phone {
                    background-image: url("images/phone.JPG");
                    &::after {
                        content: "Phone";
                        bottom: -20px;
                        left: 12px;
                        position: absolute;
                    }
                }
                &--messages {
                    background-image: url("images/messages.JPG");
                    &::after {
                        content: "Messages";
                        bottom: -20px;
                        left: 3px;
                        position: absolute;
                    }
                }
            }
        }

        &--notch {
            position: absolute;
            top: 0;
            left: 70px;
            background-color: $phone-colour;
            width: 200px; 
            height: 30px;
            border-radius: 0px 0px 20px 20px;
            z-index: 100;

            &--cam {
                position: absolute;
                bottom: 8px;
                right: 30px;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                border: .2rem solid $notch-feature-colour;
            }
            &--speaker {
                position: absolute;
                top: 5px;
                right: 3.9rem;
                width: 5.2rem;
                height: .5rem;
                background: $notch-feature-colour;
                border-radius: .2rem;
            }
        }
        &--home {
            position: absolute;
            height: 7px;
            width: 150px;
            bottom: 10px;
            left: 95px;
            background-color: white;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 1px 1px 5px grey;
            z-index: 100;
        }

    }

    /* EXTERNAL BUTTONS */
    &__volume {
        position: absolute;
        height: 50px;
        width: 5px;
        background-color: black;
        border-radius: 5px;
        left: -13px;

        &--up {
            top: 100px;
        }
        &--down {
            top: 170px;
        }
    }
    &__lock {
        position: absolute;
        height: 80px;
        width: 5px;
        background-color: black;
        top: 120px;
        right:-13px;
        border-radius: 10px;
    }
        
}

/* JAVASCRIPT CLASSES*/
.open {
    top: 0px;
}
.cameraSwap {
    background-image: url(images/camera/shiba2.JPG);
}
